/* Table of content
  0. Global variables
  1. Global styles
  2. typography
  3. Layout
  4. Utilities
  5. Components
*/

/* ================
  Global variables
  ================*/
:root {
  --red1: hsl(304, 50%, 55%);
  --red2: hsl(0, 90%, 41%);
  --green1: hsl(79, 52%, 56%);
  --green2: hsl(136, 41%, 53%);
  --yellow0: hsl(15, 75%, 81%);
  --yellow1: hsl(25, 85%, 70%);
  --yellow2: hsl(45, 99%, 51%);
  --solar: hsl(35, 54%, 78%);
  --blue1: hsl(210, 80%, 74%);
  --blue2: hsl(210, 92%, 67%);
  --blue3: hsl(210, 84%, 59%);

  --grey0: hsl(0, 0%, 90%);
  --grey1: hsl(0, 0%, 75%);
  --grey2: hsl(0, 0%, 55%);
  --grey3: hsl(0, 0%, 35%);
  --grey4: hsl(0, 0%, 25%);
  --grey5: hsl(0, 0%, 15%);
  --grey6: hsl(0, 0%, 5%);

  /* Bootstrap */
  --primary: #007bff;
  --secondary: #6c757d;
  --success: #28a745;
  --info: #17a2b8;
  --warning: #ffc107;
  --danger: #dc3545;
  --light: #f8f9fa;
  --dark: #343a40;

  --text-primary: var(--grey6);
  --text-secondary: var(--grey5);

  --bg-primary: var(--grey0);
  --bg-secondary: var(--blue1);

  --accent-color: var(--blue2);
  --transition-speed: 300ms;

  --default-font-size: 16px;
  font-size: var(--default-font-size);
  color: var(--text-primary);
  background: var(--bg-primary);

  --font-family-sans-serif: 'Open Sans', -apple-system, BlinkMacSystemFont,
    'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji',
    'Segoe UI Emoji', 'Segoe UI Symbol';
  --font-family-serif: 'EB Garamond', serif;
  --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas,
    'Liberation Mono', 'Courier New', monospace;
}

/* ================
  Global styles
  ================*/

body {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

header {
  display: grid;
  place-items: center;
  margin-bottom: 1em;
  background: var(--bg-secondary);
}

q {
  quotes: '“' '”';
  font-family: var(--font-family-serif);
  font-size: var(--default-font-size);
}

p {
  line-height: 1.5;
  word-break: break-word;
  text-align: justify; /* Justifies text */
  hyphens: auto; /* Hypenation on auto */
  max-width: 60ch; /* max width of a paragraph should be around 60 characters */
}

footer {
  display: grid;
  place-items: center;
  padding: 1em 0;
  margin-top: 1em;
  background: var(--bg-secondary);
}

h1,
h2,
h3 {
  margin: 1rem 0;
  padding: 0;
  text-align: center;
}

nav {
  background: var(--dark);
}

/* ================
Typography
================*/
body {
  font-family: var(--font-family-sans-serif);
  font-size: var(--default-font-size);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-family-serif);
}

code {
  font-family: var(--font-family-monospace);
}

.title {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

/* ================
  Layout
  ================*/

#root {
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

main {
  display: grid;
  place-items: center;
}

header {
  display: flex;
  flex-direction: column;
}

.nav-bar {
  width: 100%;
}

.nav-items {
  display: flex;
  justify-content: space-around;
}

form {
  display: flex;
  flex-direction: column;
  width: clamp(40ch, 50%, 80ch);
  gap: 1rem;
}

form > label {
  display: flex;
  justify-content: space-between;
  /* margin: 0.5rem 0; */
}

/* ================
  Utilities
  ================*/

.super-center {
  display: grid;
  place-items: center;
}

/* ================
  Components
  ================*/

.logo {
  position: absolute;
  top: 0;
  left: 0;
  max-width: 5em;
}

/** Nav bar */

.nav-item > .nav-link {
  display: inline-block;
  padding: 0.5em 1em;
  margin: 0.25em;
  color: var(--light);
  text-decoration: none;
  font-weight: bold;
}

.nav-bar .nav-item:hover .nav-link {
  background: var(--light);
  border-radius: 0.5rem;
  color: var(--dark);
}

/** Form */

form {
  background: var(--light);
  padding: 2rem;
  border-radius: 1rem;
}

.label > input,
.label > select {
  width: clamp(15ch, 40%, 30ch);
}

/** Button */

button {
  margin: 0;
  box-sizing: border-box;
  box-shadow: none;
  height: 2.5em;
  text-indent: 0px;
  text-shadow: none;
  font-style: normal;
  letter-spacing: normal;
  word-spacing: normal;
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
}

.btn {
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
  line-height: 1.5;
  background-color: var(--bg-secondary);
  color: var(--text-primary);
  border: 1px solid transparent;
  border-radius: 0.25rem;
  outline: none;
  cursor: pointer;
  white-space: nowrap;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.btn:hover,
.btn:focus,
.btn:active {
  background-color: var(--accent-color);
}

.btn:disabled {
  background: var(--secondary);
}

.charts-container {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(auto, 1fr));
}

.highcharts-credits {
  display: none;
}

/** Table */

table {
  height: 100%;
  width: 100%;
  position: relative;
  table-layout: fixed;
  border-collapse: collapse;
}

thead {
  line-height: 3em;
}

tr {
  scroll-snap-align: start;
}

td {
  height: 2em;
  text-align: left;
  vertical-align: middle;
  padding-left: 1em;
  background: var(--bg-primary);
  scroll-snap-align: start;
}

thead > tr > th {
  background: var(--dark);
  color: var(--light);
  font-weight: bold;
}

thead td {
  position: sticky;
  top: 0;
  box-shadow: 0 1px white;
}

tbody > tr:nth-child(odd) td {
  background: var(--grey2);
}

tbody > tr:hover td {
  background: var(--dark);
  color: var(--light);
}

tr > td:first-child {
  position: sticky;
  left: 0;
  box-shadow: 1px 0 white;
}
thead td:first-child {
  z-index: 1;
  box-shadow: 1px 1px white;
}

.table-filter {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-around;
}

.author {
  font-family: var(--font-family-serif);
  font-size: var(--default-font-size);
}

#file-input-label {
  display: inline-block;
  margin-top: 1rem;
}
